// inc/currentusage.pug

- var id = 'DiskUsage'
- var used = (selectednode.info.disk.total-selectednode.info.disk.free) / (1024 * 1024 * 1024)
- var free = selectednode.info.disk.free / (1024 * 1024 * 1024)
h5 Disk Usage (in GB)
include plots/verticalbar

- id = 'MemUsage'
- used = selectednode.info.memory.used / (1024 * 1024)
- free = selectednode.info.memory.free / (1024 * 1024)
h5 Memory Usage (in MB)
include plots/verticalbar

h5 CPU Usage
div(class='row')
	each cpu, index in selectednode.info.cpu
		// if index < 2
		div(class='col-sm-6')
			- id = 'cpuusage'+index
			- used = cpu.usage
			- free = 1-cpu.usage
			h6(style='text-align: center') Core ##{index}
			include plots/verticalbar